.addition-problem-screen {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .addition-problem-screen h1 {
    font-size: 4rem;
    font-weight: bold;
    color: black;
  }
  