.user-entry-screen {
    width: 100vw;
    height: 100vh;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .user-entry-screen h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: #333;
  }
  
  .username-input {
    font-size: 2rem;
    padding: 0.5rem;
    width: 300px;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .submit-button {
    font-size: 1.8rem;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    cursor: pointer;
  }
  